.navigation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 0 30px;
  color: #163d6f;
}
.menu {
  float: right;
}
.menu ul li {
  float: left;
  font-size: 22px;
  padding: 15px 15px;
  cursor: pointer;
}
.magic {
  float: left;
  width: 30px;
  padding-top: 15px;
  cursor: pointer;
}
.magic p {
  font-size: 10px;
  margin-top: 4px;
}
